In [1]:
my_list = [1,2,3,4,5,6,7]

In [3]:
my_weird_list = ["Hey how are you",1,"AM",5,"EN",12.3,[1,2,3],{"key":"value"}]

In [5]:
len(my_weird_list)

8

# List Slicing and Dicing

In [4]:
my_weird_list[3]

5

In [5]:
my_weird_list[:5:2]

['Hey how are you', 'AM', 'EN']

In [6]:
my_weird_list[2::-2]

['AM', 'Hey how are you']

In [7]:
my_weird_list[2::2]

['AM', 'EN', [1, 2, 3]]

In [8]:
my_weird_list[1:-2:1]

[1, 'AM', 5, 'EN', 12.3]

In [9]:
my_weird_list[-1]

{'key': 'value'}

In [10]:
my_weird_list[1:-1]

[1, 'AM', 5, 'EN', 12.3, [1, 2, 3]]

In [11]:
my_list + ['one','two','three']

[1, 2, 3, 4, 5, 6, 7, 'one', 'two', 'three']

In [14]:
my_list * 2

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [20]:
my_list = my_list + ['one','two','three']

In [22]:
my_list

[1, 2, 3, 4, 5, 6, 7, 'one', 'two', 'three']

In [25]:
my_list * 2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 'one',
 'two',
 'three',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 'one',
 'two',
 'three']

# Basic methods in list

In [26]:
my_list.append('a')

In [27]:
my_list

[1, 2, 3, 4, 5, 6, 7, 'one', 'two', 'three', 'a']

In [29]:
my_list.count('two')

1

In [30]:
my_list

[1, 2, 3, 4, 5, 6, 7, 'one', 'two', 'three', 'a']

In [31]:
my_list.insert(0,0)

In [32]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 'one', 'two', 'three', 'a']

In [33]:
my_list.remove('a')

In [34]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 'one', 'two', 'three']

In [35]:
my_list.reverse()

In [36]:
my_list

['three', 'two', 'one', 7, 6, 5, 4, 3, 2, 1, 0]

In [37]:
my_list.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [40]:
my_list_str=['a','b','c']

In [41]:
my_list_str.sort()

In [43]:
my_list_str.reverse()

In [44]:
my_list_str

['c', 'b', 'a']

In [45]:
my_list_str.sort()

In [46]:
my_list_str

['a', 'b', 'c']

# Dictionary

In [57]:
my_dict={'key1':'value1','key2':403,'key3':[1,2,3,'d'],'key4':{'inner_key1':1}}

In [53]:
my_dict['key2']

403

In [58]:
my_dict['key3']

[1, 2, 3, 'd']

In [54]:
my_dict['key3'][2]

3

In [55]:
my_dict['key3']

[1, 2, 3]

In [56]:
my_dict['key4']

{'inner_key1': 1}

In [52]:
my_dict['key4']['inner_key1']

1

In [59]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [61]:
my_dict.values()

dict_values(['value1', 403, [1, 2, 3, 'd'], {'inner_key1': 1}])

In [66]:
my_dict.fromkeys('key1','key2')

{'k': 'key2', 'e': 'key2', 'y': 'key2', '1': 'key2'}

In [67]:
my_dict

{'key1': 'value1',
 'key2': 403,
 'key3': [1, 2, 3, 'd'],
 'key4': {'inner_key1': 1}}

In [68]:
my_dict_fromkey=my_dict.fromkeys('key1','key2')

In [77]:
keys = 'a','e','i','o','u'
value = 'vowel'
my_new_dict = dict.fromkeys(keys,value)
print(my_new_dict)

{'a': 'vowel', 'e': 'vowel', 'i': 'vowel', 'o': 'vowel', 'u': 'vowel'}

In [72]:
my_dict.popitem()

('key4', {'inner_key1': 1})

In [73]:
my_dict

{'key1': 'value1', 'key2': 403, 'key3': [1, 2, 3, 'd']}

# Tuple

In [74]:
tup = (1,2,3,4,5)

In [75]:
tup.count(2)

1

In [76]:
tup.index(3)

2

# Set and Booleans

In [78]:
x=set()

In [80]:
x.add(1)

In [82]:
x.add(2)

In [83]:
x

{1, 2}

In [104]:
y=x.copy()

In [105]:
y.add(3)

In [91]:
x.intersection(y)

{1, 2}

In [92]:
x.intersection_update(y)

In [93]:
x.difference(y)

set()

In [103]:
print(x)
print(y)

{1, 2}
{3}

In [95]:
y.difference(x)

{3}

In [97]:
x.issubset({1,2,3})

True

In [98]:
y.difference_update(x)

In [99]:
x.symmetric_difference(y)

{1, 2, 3}

In [100]:
y.symmetric_difference(x)

{1, 2, 3}

In [101]:
x.issuperset(y)

False

In [106]:
y.issuperset(x)

True

# Boolean

In [109]:
True == False

False

In [110]:
True == True

True

In [111]:
1 == -1

False

In [112]:
True != False

True